.patient__docs {
	min-height: 900px;
	background-color: #e5e5e5;
	width: 100%;
	padding: 32px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	&--num {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		color: #4b535e;
		margin-bottom: 1rem;
		& > svg {
			margin-right: 0.25rem;
		}
	}
}

.patient__docs__table {
	background-color: #fff;
	border-radius: 8px;
	border-bottom: 1px solid rgba(171, 183, 183, 1.0);
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

	& > thead {
		& > tr {
			border-bottom: 1px solid rgba(189, 195, 199, 1);
			& > th {
				vertical-align: bottom;
				text-align: left;
				padding: 10px;
				color: #818a96;

				& > span {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					& > svg {
						margin-left: 0.25rem;
					}
				}
			}
		}
	}

	& > tbody {
		& > tr {
			border-bottom: 1px solid rgba(189, 195, 199, 1);

			& > td {
				padding: 10px;
				vertical-align: top;

				& > button {
					width: 100%;
					height: 30px;
					outline: none;
					border: none;
					cursor: pointer;
					font-size: 20px;
					border-radius: 5px;
					transition: all 300ms ease-in-out;
					&:hover {
						background-color: gray;
						color: #fff;
					}
				}
			}

			& > td:nth-child(5) {
				text-align: center;
				vertical-align: top;
				width: 60px;
			}
		}
	}

	&__initial__textbox {
		height: 130px;
		overflow: hidden;
		& > h3 {
			margin-bottom: 2rem;
		}

		& > p {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			height: 120px;
			width: 700px;
		}

		&__empty {
			display: none;
		}
	}

	&__hidden {
		display: none;
		transition: 300ms all ease-in-out;
		&--container {
			& > div {
				width: 100%;
				border-bottom: 1px solid rgba(189, 195, 199, 1);
				margin-bottom: 1rem;

				& > p {
					padding-bottom: 0.25rem;

					font-size: 16px;
					font-weight: 700;
					color: #0c1625;
				}
			}
		}
	}

	&__expanded {
		display: table-row;
		height: 100%;

		transition: 300ms all ease-in-out;
		& > td {
			padding: 0;
		}
	}

	&__initial {
		min-height: 75px;
	}
}

.underline {
	background-color: #fff0bb;
	color: #4b535e;
}

// On Toggle changes

.patient__docs__table__initial__toggled {
	background-color: #f3f5f9;
	border: none;
}

// Toggled

.explored__container {
	& > td {
		display: table-cell;
		padding: 5px;
	}

	& > table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
}
